.taskDone {
    text-decoration: line-through;
    opacity: 0.4;
    color: red;
}

.deleteTask {
    cursor: pointer;
    color: red;
}

.taskDone {
    cursor: pointer;
}

#todolist {
    font-size: 18px;
}